.app-header {
	/* background-color: #1C283A !important; */
	background-color: #4a87ee    !important;
}

.app-question-header {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
}

.app-question {
	/* background-color:#43cee6 !important; */
	background-color:#66cc33   !important;
}

.app-result-text {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	text-align: center;
}
