.app-content {
	background-color: #f3f6f6;
}

.app-question-heading {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
}

.app-question {
	/* background-color:#43cee6 !important; */
	background-color:#66cc33   !important;
}

.app-result-card {
	background-color: #bdc3c7; 
	/* color: #1C283A; */
	color: black;
}

.app-result-text {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	text-align: center;
}

.app-result-icon {
	font-size: 50px;
	color: red;
}
