<!DOCTYPE html>

<html>
	<head>
        <meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>I&E Day 2016</title>
		
		<link href="lib/ionic/css/ionic.css" rel="stylesheet"/>
		<link href="css/style.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="js/app.js"></script>
    </head>
 
	<body ng-app="myApp">
	  <div ng-controller="MainCtrl">
		<ion-nav-view animation="slide-left-right"></ion-nav-view>
	  </div>
		
	  <script id="quiz.html" type="text/ng-template">
		<ion-view>
			<ion-content padding="true" class="app-content">				
				<!-- <div style="float:left;"><img src="img/logo.jpg" alt="logo" height="60" width="60"></div> -->
				<div style="text-align:left;"><img src="img/cw-logo.jpg" alt="logo" height="" width=""></div>
				<h2 style="text-align:center;margin-top:15px;color:#2c3e50;">I&E Day 2016</h2>
				<h4 style="text-align:center;color:red;">Celebrating our Youth<br>Entrepreneurship & Innovativeness</h4>
				
				<form ng-submit="computeResult()">
					<div class="app-question-heading">Please answer all the questions:</div>
					<div ng-repeat="question in questions">
						<div class="app-question item item-divider item-text-wrap">{{$index+1}}. {{question.qn}}</div>			
						<ion-list>
							<ion-radio class="item-text-wrap" ng-repeat="opt in question.opts" ng-value="opt.val" ng-model="answers[$parent.$index]" ng-click="" name="{{question.id}}">{{optIndex($index)}}) {{opt.ans}}</ion-radio>
						</ion-list>
						<br>
					</div>
					<button type="submit" class="button button-assertive">Submit</button>
				</form>
				<br><br>
			</ion-content>
		</ion-view>
	  </script>
  
	  <script id="result.html" type="text/ng-template">
		<ion-view>     
			<ion-content padding="true" class="app-content">
				<h2 style="text-align:center;margin-top:10px;color:#2c3e50;">I&E Day 2016</h2>
			
				<div ng-if="numCorrectAns >= minCorrectAns" class="app-result-text">
					<div class="card"><div class="item item-text-wrap app-result-card">
						<!-- <a class="icon ion-happy-outline app-result-icon"></a><br><br> -->
						<!-- <img src="img/giftbox.svg" alt="" height="70" width="70"><br><br> -->
						<br><i class="fa fa-gift"></i><br><br>
						Congratulations!<br><br>
						You have answered {{numCorrectAns}} / {{questions.length}} questions correctly.<br><br>
						Please show this message to collect a prize.<br><br>
					</div></div>
				</div>
				<div ng-if="numCorrectAns < minCorrectAns" class="app-result-text">
					<div class="card"><div class="item item-text-wrap app-result-card">
						<a class="icon ion-sad-outline app-result-icon"></a><br><br>
						You have answered {{numCorrectAns}} / {{questions.length}} questions correctly.<br><br>
						Please try again<br><br>
						<a class="button button-assertive" ng-click="back()">Back</a><br>
					</div></div>
				</div>
				<br><br>
			</ion-content>
		</ion-view>
	  </script>  
	</body>
</html>
